{% extends 'base.html' %}

{% block 'content' %}
<div class="d-flex justify-content-center align-items-center">
  <div class="card p-5 login-card border border-warning" style="position: relative; width: 85%;">
    <h2 class="text-center mb-4">Iniciar sesión</h2>

    <!-- mensajes de error -->
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button data-mdb-ripple-init type="submit" class="btn btn-warning btn-block mb-4">Login</button>
    </form>
    <hr />
    <p class="text-center"><a class="link-secondary" href="{% url 'index' %}">Volver al inicio</a></p>
  </div>
</div>
{% endblock %}