.card-img-top {
    height: 240px;
    
    object-fit: cover;

}

.form-label {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
}

.custom-font {
    font-family: 'Arial', sans-serif; 
}