{% extends "base.html" %}

{% block content %}

<h1 class="text-center">OnlyFlans - El Paraíso del Flan</h1>
<br>

<div class="container">
   
   <h2 class="text-center">Nuestra Historia</h2>
   <p>OnlyFlans nació del amor por los postres y la tradición familiar. Desde pequeñas reuniones hasta grandes 
      celebraciones, el flan siempre ha sido el protagonista en nuestras mesas. Decidimos compartir esa pasión 
      y dedicación con el mundo, ofreciendo una gama de flanes que deleitan a todos los paladares.</p>
   
   <h2 class="text-center">Nuestra Oferta</h2>

   <ul class="flan-list">
      <li>
          <strong>Flan Clásico:</strong> La receta tradicional que nunca falla, con el sabor cremoso y la textura suave que te transportarán a tu infancia.
      </li>
      <li>
          <strong>Flan de Vainilla:</strong> Una variante del clásico, con un toque extra de vainilla para los más golosos.
      </li>
      <li>
          <strong>Flan de Caramelo:</strong> Con una capa de caramelo dorado y un corazón suave y delicioso.
      </li>
      <li>
          <strong>Flan de Café:</strong> Para los amantes del café, un flan que combina la cremosidad del postre con el sabor intenso del café.
      </li>
      <li>
          <strong>Flan de Chocolate:</strong> Una versión rica y decadente que satisface los antojos de chocolate.
      </li>
      <li>
          <strong>Flan de Coco:</strong> Un flan exótico y tropical que te hará sentir en una playa paradisíaca.
      </li>
      <li>
          <strong>Flan de Queso:</strong> Un flan con un toque salado que combina a la perfección con su dulzura.
      </li>
      <li>
          <strong>Flanes de Temporada:</strong> Variedades especiales que cambian con las estaciones, como flan de calabaza en otoño y flan de frutas frescas en verano.
      </li>
  </ul>

  <h2 class="text-center">Nuestro Compromiso</h2>
        <p>En OnlyFlans, nos comprometemos a ofrecer productos de la más alta calidad. Cada flan es preparado con esmero y atención al detalle, utilizando solo los mejores ingredientes. Creemos en la sostenibilidad y en apoyar a los productores locales, por lo que muchos de nuestros ingredientes son de origen local y orgánico.</p>
{% endblock %}


