{% extends "base.html" %}

{% block 'content' %}
<div class="container">
    <h1 class="text-center mb-5">OnlyFlans - El Paraíso del Flan</h1>

    <section class="mb-5">
        <h2 class="mb-3">Nuestra Historia</h2>
        <p class="lead">
            OnlyFlans nació del amor por los postres y la tradición familiar. Desde pequeñas reuniones hasta grandes 
            celebraciones, el flan siempre ha sido el protagonista en nuestras mesas. Decidimos compartir esa pasión 
            y dedicación con el mundo, ofreciendo una gama de flanes que deleitan a todos los paladares.
        </p>
    </section>
    <section>
        <h2 class="mb-3">Nuestro Compromiso</h2>
        <p class="lead">
            En OnlyFlans, nos comprometemos a ofrecer productos de la más alta calidad. Cada flan es preparado con esmero 
            y atención al detalle, utilizando solo los mejores ingredientes. Creemos en la sostenibilidad y en apoyar a 
            los productores locales, por lo que muchos de nuestros ingredientes son de origen local y orgánico.
        </p>
    </section>
</div>
{% endblock %}