{% extends 'base.html' %}

{% block content %}
  <h3 class="text-center">Inicio</h3>
  <br />
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for flan in public_flans %}
      <div class="col shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="card">
          <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}" style="height: 240px; object-fit: cover;" />
          <div class="card-body shadow p-3 mb-5 bg-body-tertiary rounded">
            <h5 class="card-title">{{ flan.name }}</h5>
            <p class="card-text bg-body-secondary fst-italic">{{ flan.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

