{% load static %}
<header class="text-bg-warning p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{% url 'index' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{% static 'OnlyFlans.png' %}" alt="Logo" width="114px" height="32px" />
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-1 text-white">Inicio</a></li>
        <li><a href="{% url 'about' %}" class="nav-link px-3 text-white">Acerca</a></li>
        <li><a href="{% url 'contact' %}" class="nav-link px-3 text-white">Contacto</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'welcome' %}" class="nav-link px-4 text-white">Bienvenido</a></li>
          <li><a href="{% url 'logout' %}" class="nav-link px-4 text-white custom-font">Cerrar sesión</a></li>
        {% else %}
          <li><a href="{% url 'login' %}" class="nav-link px-4 text-white custom-font">Iniciar sesión</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
