{% extends 'base.html' %}

{% block 'content' %}
  <div class="container mt-4">
    {% if user.is_authenticated %}
      <h3 class="text-center">Bienvenido, {{ user.username }}!</h3>
    {% else %}
      <h3 class="text-center">Bienvenidos a OnlyFlans!</h3>
    {% endif %}
  </div>
  <br />
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
      {% for flan in private_flans %}
        <div class="col">
          <div class="card shadow p-3 mb-5 bg-body-tertiary rounded h-100">
            <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}" style="height: 240px; object-fit: cover;" />
            <div class="card-body shadow p-3 mb-5 bg-body-tertiary rounded">
              <h5 class="card-title">{{ flan.name }}</h5>
              <p class="card-text bg-body-secondary fst-italic">{{ flan.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
