{% extends 'base.html' %}

{% block 'content' %}
  <div class="container mt-4">
    
      <h2 class="text-center text-white">Bienvenido, {{ user.username }}!</h2>
  </div>
  <br />
  <div class="container">
    <div class="row row-cols-1 row-cols-sm- 2 row-cols-md-3 row-cols-lg-4 g-4">
      {% for flan in private_flans %}
        <div class="col">
          <div class="cardp-3 mb-5 rounded h-100" style="background-color: #333;">
            <img src="{{ flan.image_url }}" class="card-img-top" alt="{{ flan.name }}" style="height: 240px; object-fit: cover;" />
            <div class="card-body p-3 mb-5 rounded" style="background-color: #444;">
              <h5 class="card-title" style="color: white;">{{ flan.name }}</h5>
              <p class="card-text bg-body-secondary" style="color: black;">{{ flan.description }}</p>
              <p class="card-text" style="color: yellow;">Precio: ${{ flan.price }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
